<!DOCTYPE html>
<html>
<head>
    <!--principal-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title|Proyecto!</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Vendor/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Vendor/nprogress/nprogress.css" rel="stylesheet" />
    <link href="~/Content/css/custom.min.css" rel="stylesheet" />
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Action("Index","Home")" class="site_title"><i class="fa fa-building-o"></i> <span>Proyecto</span></a>
                    </div>

                    <div class="clearfix"></div>
                    <!-- menu profile quick info  -->
                    <div class="profile clearfix">
                        <div class="profile_pic">

                            <img src="~/Content/images/img.png" alt="Usuario" class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Bienvenido</span>
                            <h2>Pancho</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>ADMINISTRACIÓN</h3>
                            <ul class="nav side-menu">
                                <li><a href="@Url.Action("Create", "Usuario")"><i class="fa fa-user-plus"></i> Nuevo Usuario<span class="label label-success pull-right"></span></a></li>
                                <li>
                                    <a><i class="fa fa-list-alt"></i> Mantenimiento <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action( "Index", "Departamento")">Departamento</a></li>
                                        <li><a href="@Url.Action( "Index", "Mascota")">Mascota</a></li>
                                        <li><a href="@Url.Action( "Index", "Visitante")">Visitante</a></li>
                                    </ul>
                                </li>
                                <li><a href="@Url.Action("Index", "Propietario")"><i class="fa fa-users"></i> Propietario<span class="label label-success pull-right"></span></a></li>
                                <li><a href="@Url.Action("Index", "Visita")"><i class="fa fa-calendar"></i> Visitas<span class="label label-success pull-right"></span></a></li>
                                <li>
                                    <a><i class="fa fa-credit-card"></i> Pago <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action( "Index", "PagoS")">Pago Servicio</a></li>
                                        <li><a href="@Url.Action( "Index", "PagoD")">Pago Departamento</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-info-circle"></i> Incidentes <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action( "Create", "Incidente")">Registro</a></li>
                                        <li><a href="@Url.Action( "Index", "Incidente")">Listado</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- sidebar menu -->
                    <!-- menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/Content/images/img.png" alt="">Pancho
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="javascript:;"> Perfil</a>
                                    <a class="dropdown-item" href="@Url.Action("Login", "Acceso")"><i class="fa fa-sign-out pull-right"></i> Login</a>
                                </div>
                            </li>


                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>

            <!-- footer content -->
            <footer>
                <div class="pull-right">

                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <!-- Scripts -->
    <script src="~/Vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/Vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Vendor/nprogress/nprogress.js"></script>
    <!--<script src="~/Content/js/custom.min.js"></script>-->
    <script src="~/Content/js/custom.js"></script>
</body>
</html>