@model ProyectoDSWI.Entity.Visitante1

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Visitante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idVisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idVisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nomVisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomVisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apeVisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apeVisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dniVisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dniVisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.movilVisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.movilVisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuReg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuReg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idProp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idProp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
