@model IEnumerable<ProyectoDSWI.Entity.Visitante1>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">MAESTRO DE VISITANTES</h2>

<p>
    @Html.ActionLink("Nuevo Visitante", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table table-bordered table-striped">
    <tr>
    <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>DNI</th>
        <th>Celular</th>
        <th>Fecha Registro</th>
        <th>Usuario</th>
        <th>Depa</th>
        <th style="text-align:center">Mantenimiento</th>
   
    </tr>

    @foreach (var item in Model)
    {
        <tr style="background-color:white">
            <td>
                @Html.DisplayFor(modelItem => item.idVisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomVisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apeVisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dniVisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.movilVisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuReg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idProp)
            </td>
            <td>
                <button class="btn btn-warning btn-sm" type="button" id="btn_act" onclick="location.href='Visitante/Edit?id=@item.idVisi'"><span class="glyphicon glyphicon-edit">Actualiza</span></button>
                <button class="btn btn-danger btn-sm" type="button" id="btn_act" onclick="location.href='Visitante/Delete?id=@item.idVisi'"><span class="glyphicon glyphicon-trash">Elimina</span></button>

                @*
         @Html.ActionLink("Actualizar", "Edit", new { id = item.idVisi }) |
        | @Html.ActionLink("Ver Detalles", "Details", new { id = item.idVisi })
         @Html.ActionLink("Dar de Baja", "Delete", new { id = item.idVisi })*@
            </td>
        </tr>
    }

</table>

