@model ProyectoDSWI.Entity.Propietario1

@{
    ViewBag.Title = "Delete";
}

<h2 class="text-center">CONFIRMACIÓN DE ELIMINAR DE PROPIETARIO</h2>

<h3 class="text-center">Está seguro de dar de baja al Propietario => @Model.nomProp @Model.apeProp</h3>
<div>
    <h4 class="text-center">Datos del Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idProp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idProp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nomProp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomProp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apeProp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apeProp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dniProp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dniProp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correoProp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correoProp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.movilProp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.movilProp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuReg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuReg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idDepa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idDepa)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
