@model ProyectoDSWI.Entity.Propietario1

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Propietario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idProp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idProp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nomProp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomProp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apeProp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apeProp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dniProp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dniProp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correoProp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correoProp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.movilProp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.movilProp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuReg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuReg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idDepa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idDepa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
