@model ProyectoDSWI.Entity.PagoS1

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pago Servicio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idPagoS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idPagoS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idProp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idProp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idTipoS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idTipoS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propietario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propietario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.servicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.servicio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("REGRESAR", "Index")
</p>
