@model IEnumerable<ProyectoDSWI.Entity.Producto1>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">MAESTRO DE PRODUCTOS</h2>

<p>
    @Html.ActionLink("Agregar Nuevo Producto", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombrePro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdCategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="bg-danger">
        <td>
            @Html.DisplayFor(modelItem => item.IdProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombrePro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Foto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdCategoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
            @Html.ActionLink("Actualizar", "Edit", new { id = item.IdProducto }) |
            @Html.ActionLink("Ver Detalles", "Details", new { id = item.IdProducto }) |
            @Html.ActionLink("Dar de Baja", "Delete", new { id = item.IdProducto })
        </td>
    </tr>
}

</table>
