@model ProyectoDSWI.Entity.Departamento1

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Departamento1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idDepa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idDepa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nroPiso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nroPiso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuReg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuReg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idEstado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idEstado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idTipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idTipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
