@model IEnumerable<ProyectoDSWI.Entity.Mascota1>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">MAESTRO DE MASCOTAS</h2>

<p>
    @Html.ActionLink("Agregar Nueva Mascota", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>Código</th>
        <th>Tipo Mascota</th>
        <th>Número Mascota</th>
        <th>Propietario</th>
        
        <th style="text-align:center">Mantenimiento</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="background-color:white">
            <td>
                @Html.DisplayFor(modelItem => item.idMascota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoMascota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nroMascota)
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.idProp)*@
                @Html.DisplayFor(modelItem => item.nomProp)
                @Html.DisplayFor(modelItem => item.apeProp)
            </td>
            <td>
                <button class="btn btn-warning btn-sm" type="button" id="btn_act" onclick="location.href='Mascota/Edit?id=@item.idMascota'"><span class="glyphicon glyphicon-edit">Actualiza</span></button>
                <button class="btn btn-danger btn-sm" type="button" id="btn_act" onclick="location.href='Mascota/Delete?id=@item.idMascota'"><span class="glyphicon glyphicon-trash">Elimina</span></button>
                @*
                    @Html.ActionLink("Actualizar", "Edit", new { id = item.idMascota }) |
                    @Html.ActionLink("Ver Detalles", "Details", new { id = item.idMascota }) |
                    @Html.ActionLink("Dar de Baja", "Delete", new { id = item.idMascota })*@
            </td>
        </tr>
    }

</table>
